html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}

:root {
  --color-gold: #c59d5f;
  --color-blue: #617d98;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  width: 80vw;
  margin: 6rem auto;
}
